{% extends "layout.html" %}
{% block title %}Api Wars{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
    <h1>Star Wars universe planets</h1>
    <button class="btn btn-primary">Previous</button>
    <button class="btn btn-primary">Next</button>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>name</th>
                <th>diameter (in km)</th>
                <th>climate</th>
                <th>terrain</th>
                <th>surface water (in percentage)</th>
                <th>population</th>
            </tr>
        </thead>
        <tbody id="datatable">
        <!-- data from swapi -->
        </tbody>
    </table>
{% endblock %}